footer.self-end.animated.fadeIn.delay-1s.container.mx-auto.px-4
  hr.mb-3.border-zinc-800
  p.mb-4.text-center
    | Copyright&nbsp;&copy;
    span.year
    | &nbsp;#[a(href='https://github.com/llcawc') llcawc], all rights reserved. Made with
    span(style='color: #e60f0a') &nbsp;&#10084;&nbsp;
    | for the best architecture.
