footer(class="delay-1s container mx-auto self-end px-4")
  hr(class="my-4 border-zinc-400 dark:border-zinc-700")
  div(class="flex mb-4 flex-col gap-3 justify-between lg:items-center lg:flex-row")
    //- insert color scheme switcher
    include ../includes/scheme
    p Copyright&nbsp;&copy;#[span= new Date().getFullYear().toString()] #[a(href="https://github.com/llcawc") llcawc] by pasmurno, all rights reserved, made with #[span(class="text-red-600") ❤] to beautiful architecture.
