<footer class="container mx-auto px-4">
  <hr class="mb-2 border-zinc-600">
    <p class="text-center">
      &copy;&nbsp;2021
      <a href="https://github.com/llcawc">llcawc</a>, all rights reserved. Made&nbsp;with&nbsp;<span style="color: #e60f0a;">&#10084;</span>&nbsp;for the&nbsp;best&nbsp;architecture.
    </p>
  </footer>
