<header class="flex items-center bg-cover bg-center bg-no-repeat bg-[url('../images/ice.jpg')]">
  <div class="container px-4 mx-auto text-center text-white">
    <h1 class="drop-shadow">{{ pageheader }}</h1>
    <nav class="drop-shadow hover:text-white">
      <ul class="flex justify-center space-x-2">
        <li><a class="text-white font-medium hover:text-white hover:underline hover:underline-offset-4 hover:decoration-4
          {% if title === 'Home' %}
            underline underline-offset-4 decoration-4 decoration-red-500
          {% endif %}"
          href="index.html">Home</a></li>
        <li>•</li>
        <li><a class="text-white font-medium hover:text-white hover:underline hover:underline-offset-4 hover:decoration-4
          {% if title === 'Post' %}
            underline underline-offset-4 decoration-4 decoration-red-500
          {% endif %}"
          href="post.html">Post</a></li>
        <li>•</li>
        <li><a class="text-white font-medium hover:text-white hover:underline hover:underline-offset-4 hover:decoration-4
          {% if title === '404' %}
            underline underline-offset-4 decoration-4 decoration-red-500
          {% endif %}"
          href="err404.html">Error</a></li>
      </ul>
    </nav>
  </div>
</header>
