div(class="relative z-0 inline-grid grid-cols-3 gap-0.5 rounded-full bg-gray-950/5 p-0.75 text-gray-950 dark:bg-white/10 dark:text-white max-w-fit", role="radiogroup")
  span.ui-radio(aria-label="System theme", role="radio", aria-checked="false", tabindex="-1", data-ui-value="system", class="rounded-full p-1.5 *:size-7 data-checked:bg-white data-checked:ring data-checked:inset-ring data-checked:ring-gray-950/10 data-checked:inset-ring-white/10 sm:p-0 dark:data-checked:bg-gray-700 dark:data-checked:text-white dark:data-checked:ring-transparent")
    svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 28 28")
      path(stroke="currentColor", d="M7.5 8.5a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1h-11a1 1 0 0 1-1-1z")
      path(stroke="currentColor", d="M7.5 8.5a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1h-11a1 1 0 0 1-1-1z")
      path(stroke="currentColor", stroke-linecap="round", d="M16.5 20.5v-3h-5v3m5 0h-5m5 0h1m-6 0h-1")
  span.ui-radio(aria-label="Light theme", role="radio", aria-checked="false", tabindex="-1", data-ui-value="light", class="rounded-full p-1.5 *:size-7 data-checked:bg-white data-checked:ring data-checked:inset-ring data-checked:ring-gray-950/10 data-checked:inset-ring-white/10 sm:p-0 dark:data-checked:bg-gray-700 dark:data-checked:text-white dark:data-checked:ring-transparent")
    svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 28 28")
      circle(cx="14", cy="14", r="3.5", stroke="currentColor")
      path(stroke="currentColor", stroke-linecap="round", d="M14 8.5v-2m3.889 3.612 1.414-1.415M19.5 14h2m-3.611 3.889 1.414 1.414M14 21.5v-2m-5.303-.197 1.414-1.414M6.5 14h2m.197-5.303 1.414 1.414")
  span.ui-radio(aria-label="Dark theme", role="radio", aria-checked="false", tabindex="-1", data-ui-value="dark", class="rounded-full p-1.5 *:size-7 data-checked:bg-white data-checked:ring data-checked:inset-ring data-checked:ring-gray-950/10 data-checked:inset-ring-white/10 sm:p-0 dark:data-checked:bg-gray-700 dark:data-checked:text-white dark:data-checked:ring-transparent")
    svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 28 28")
      path(stroke="currentColor", stroke-linejoin="round", d="M10.5 10a7.5 7.5 0 0 0 10.413 6.912A7.502 7.502 0 0 1 6.5 14a7.5 7.5 0 0 1 4.587-6.913A7.5 7.5 0 0 0 10.5 10Z")
      path(fill="currentColor", stroke="currentColor", stroke-linecap="round", stroke-linejoin="round", d="M16.356 6.508 16.5 5.5l.144 1.008a1 1 0 0 0 .849.848L18.5 7.5l-1.008.144a1 1 0 0 0-.848.848L16.5 9.5l-.144-1.008a1 1 0 0 0-.849-.848L14.5 7.5l1.008-.144a1 1 0 0 0 .848-.848m4 5L20.5 10.5l.144 1.008a1 1 0 0 0 .849.848l1.007.144-1.008.144a1 1 0 0 0-.848.848L20.5 14.5l-.144-1.008a1 1 0 0 0-.849-.848L18.5 12.5l1.008-.144a1 1 0 0 0 .848-.848")
