/* base.css */
@import "tailwindcss";
@source "../../includes";
@source "../../layouts";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --default-font-family: "psinter", sans-serif;
  --default-mono-font-family: "psjbmono", monospace;
  --color-accent: var(--color-blue-500);
  --color-dark: var(--color-zinc-900);
}

@layer base {
  *:focus-visible {
    @apply outline-accent/50 rounded-xs outline-2 outline-offset-2;
  }

  body {
    @apply dark:bg-dark min-w-75 dark:text-zinc-500;
  }

  h1,
  h2 {
    @apply mb-4 font-semibold dark:text-white;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  a {
    @apply text-accent font-medium;
  }
}
