# Node & project folders
/.git/
/.osp/
/dist/
/node_modules/
/coverage/

# Config files
/**/.env
/**/.env.*.php
/**/.env.php
/.prettierignore
/.prettierrc
/.stylelintignore
/.stylelintrc.*

# archive package
/**/*.zip
/**/*.7z

# iMac
/**/*.DS_Store

# Windows
/**/Thumbs.db
/**/[Dd]esktop.ini
/**/*.lnk
