{
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "lf",
  "printWidth": 100,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["./**/*.{ts,js,jsx,mjs,cjs}"],
      "options": {
        "semi": false,
        "singleQuote": true,
        "jsxSingleQuote": true
      }
    }
  ],
  "plugins": [
    "@prettier/plugin-pug",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ]
}
