@font-face {
  font-family: "psjbmono";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/JetBrainsMono-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "psjbmono";
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/JetBrainsMono-ThinItalic.woff2") format("woff2");
}

@font-face {
  font-family: "psjbmono";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/JetBrainsMono-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "psjbmono";
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/JetBrainsMono-ExtraLightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "psjbmono";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/JetBrainsMono-Light.woff2") format("woff2");
}

@font-face {
  font-family: "psjbmono";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/JetBrainsMono-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "psjbmono";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "psjbmono";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/JetBrainsMono-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "psjbmono";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/JetBrainsMono-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "psjbmono";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/JetBrainsMono-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "psjbmono";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/JetBrainsMono-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "psjbmono";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/JetBrainsMono-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "psjbmono";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "psjbmono";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/JetBrainsMono-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "psjbmono";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/JetBrainsMono-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "psjbmono";
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/JetBrainsMono-ExtraBoldItalic.woff2") format("woff2");
}
