extends ../layouts/main

block prepend variables
  - const page = "index";

block main
  main(class="animated fadeIn mx-auto max-w-200 p-4")
    article
      h1(class="mt-8 text-center md:text-left") Hello World! How are you?
      p(class="indent-4 first-letter:mr-[2px] first-letter:text-2xl first-letter:font-black") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam voluptatum corrupti officia sit. Iste molestias autem amet, similique ea, expedita nemo, assumenda iure nihil mollitia earum quidem laborum voluptatum illo! Culpa quibusdam natus accusantium. Accusantium distinctio quaerat ut voluptate dolorem.
      blockquote(class="ml-8") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint neque iure nobis enim praesentium. Ut.
      p(class="indent-4 first-letter:mr-[2px] first-letter:text-2xl first-letter:font-black") Culpa dolorum quo ea ipsam totam odit soluta excepturi iste optio aperiam nihil doloremque harum vel praesentium iusto dolorem et consequuntur, tempore accusamus incidunt cumque eaque atque? Quod sunt tempora nobis harum neque, explicabo consequatur incidunt, sed possimus magni voluptates.
      p Run <code>pnpm</code> command: <br>
      pre
        span(class="ml-6") =&gt; for development: &gt;&gt;<code>pnpm dev</code><br>
        span(class="ml-6") =&gt; for build: &gt;&gt;<code>pnpm build</code>
      div(class="text-right")
        a(href="/post") read more ...
