<!-- er404.html -->
{% extends "layouts/default.htm" %}
{% set title = "404" %}
{% set pageHeader = "Error 404" %}
<!-- ••• -->
{% block main %}
<div class="h-screen container mx-auto flex justify-center items-center">
  <section class="h-40 sm:w-80">
    <div class="flex gap-2 text-white animated fadeIn">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
      </svg>
      <h1 class="mb-0 animated fadeIn">Error 404!</h1>
    </div>
    <p class="ml-12 mb-4 animated fadeIn">Document not found.</p>
    <a class="ml-12 inline-block px-4 py-2 border rounded-md border-red-600 hover:text-white hover:bg-red-600 hover:no-underline hover:duration-250 active:translate-y-0.5 animated fadeIn slow delay-2s" href="/">
      <span class="font-normal">Home</span>
    </a>
  </section>
</div>
{% endblock %}
