{% extends "layouts/default.htm" %}
{% set title = "Home" %}
{% set pageHeader = "Board Starter Template" %}
<!-- ••• -->
{% block main %}
<main class="container lg:max-w-5xl mx-auto p-4 animated fadeInUp">
  <article>
    <h1 class="my-4 text-center md:text-left">Hello World! How are you?</h1>
    <p class="mb-4 indent-4 first-letter:font-black first-letter:text-2xl first-letter:mr-[2px]">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam voluptatum corrupti officia sit. Iste molestias autem amet, similique ea, expedita nemo, assumenda iure nihil mollitia earum quidem laborum voluptatum illo! Culpa quibusdam natus accusantium. Accusantium distinctio quaerat ut voluptate dolorem.</p>
    <blockquote class="relative ml-10 mr-6 my-4 before:absolute before:-top-2 before:-left-6 before:content-['\2e42'] before:text-[300%] before:leading-[0] before:text-red-700">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint neque iure nobis enim praesentium. Ut.
    </blockquote>
    <p class="mb-4 indent-4 first-letter:font-black first-letter:text-2xl first-letter:mr-[2px]">Culpa dolorum quo ea ipsam totam odit soluta excepturi iste optio aperiam nihil doloremque harum vel praesentium iusto dolorem et consequuntur, tempore accusamus incidunt cumque eaque atque? Quod sunt tempora nobis harum neque, explicabo consequatur incidunt, sed possimus magni voluptates.</p>
    <p class="mb-4 indent-6 first-letter:font-black first-letter:text-2xl first-letter:mr-[2px]">Install Better Nunjucks Syntax and Snippets Extension for Visual Studio Code used links:
      <a href="https://marketplace.visualstudio.com/items?itemName=ginfuru.better-nunjucks">Marketplace.</a>
      <a href="https://github.com/edheltzel/nunjucks-for-visual-studio-code">GitHub.</a>
    Create folder / file: <code>.vscode/settings.json</code>. I use extersion ".htm" for nunjucks files.</p>
    <p class="mb-0">Run <code>npm</code> command:</p>
    <ul class="mb-4">
      <li class="ml-4">for development: <code>>> npm run dev</code></li>
      <li class="ml-4">for build: <code>>> npm run build</code></li>
    </ul>
    <div class="text-right">
      <a href="post.html">read more ...</a>
    </div>
  </article>
</main>
{% endblock %}
<!-- end index.html -->
