{% extends "layouts/default.htm" %}
{% set title = "Post" %}
{% set pageHeader = "Cool Post" %}
<!-- ••• -->
{% block main %}
<main class="container mx-auto px-4 py-10">
  <article class="column">
    <h2>Vingardium leviossa</h2>
    <p class="mb-4 indent-6 first-letter:font-black first-letter:text-2xl first-letter:mr-[2px]">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae eaque ipsa molestias, architecto eos accusamus! Iure fuga recusandae officia deserunt distinctio, consequuntur quo libero enim nulla consectetur nesciunt facilis voluptas alias quasi ea blanditiis in dicta. Aspernatur consectetur nemo accusantium hic, fuga earum nisi culpa similique voluptate nostrum, nobis et sed minus delectus repellendus at tenetur?</p>
    <figure class="w-full h-36 overflow-hidden my-2">
      <img class="h-full w-full object-cover sepia-[0.8]" src="assets/images/ice.jpg" alt="Windows Ice">
    </figure>
    <h2>Patronus savage</h2>
    <p class="mb-4 indent-6 first-letter:font-black first-letter:text-2xl first-letter:mr-[2px]">Quam, maxime a illo perspiciatis beatae nemo aut laudantium et, odio earum voluptatum. Deserunt corrupti quam id quod nemo reiciendis amet laborum ipsa dolorum! Eveniet, dicta sunt inventore voluptas consectetur earum assumenda natus amet totam molestiae impedit eius eligendi! Ab non suscipit repellat quae! Id eum accusamus suscipit sit nesciunt pariatur fuga voluptate beatae porro corrupti.</p>
    <h2>Petrificus totale</h2>
    <p class="mb-4 indent-6 first-letter:font-black first-letter:text-2xl first-letter:mr-[2px]">Molestiae id at veritatis quia. Explicabo at ab, quaerat vitae, laudantium quos, qui eligendi reprehenderit itaque consectetur facere molestias. Ducimus, natus consequuntur autem nesciunt veniam eos facere blanditiis quia harum accusantium, quam iusto eveniet dicta aut ratione adipisci quos minus magnam suscipit assumenda. Consectetur fuga id rem numquam, provident labore quasi culpa tempore nisi soluta officia!</p>
    <h2>Lumos maxima</h2>
    <p class="mb-4 indent-6 first-letter:font-black first-letter:text-2xl first-letter:mr-[2px]">Deleniti quam, rem officiis possimus blanditiis, esse praesentium harum placeat autem laudantium sequi aspernatur quidem. Quidem accusantium culpa necessitatibus quis ducimus ad esse porro harum ex incidunt ea commodi temporibus iusto nesciunt fugit, magni eligendi perspiciatis cumque. Rerum quam ipsum voluptatum, impedit rem, error, a totam unde et asperiores mollitia quae consequatur? Nulla quae molestias quam?</p>
    <div class="text-right">
      <a href="index.html">... back</a>
    </div>
  </article>
</main>
{% endblock %}
<!-- end post.html -->
