<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/svg+xml">
  <meta property="og:image" content="assets/images/ice.jpg">
  <link rel="stylesheet" href="assets/css/main.min.css">
  <title>Board • {{ title }}</title>
</head>

<body>
  {% if title !== '404' %}
  <div class="h-screen grid grid-cols-1 grid-rows-[12rem_auto_4rem]">
  {# -- header -- #}
  {% include "partials/header.htm" %}
  {% endif %}
  {# -- main -- #}
  {% block main %}
    This is the default main content
  {% endblock %}
  {% if title !== '404' %}
  {# -- footer -- #}
  {% include "partials/footer.htm" %}
  </div>
  <script src="assets/js/main.min.js"></script>
  {% endif %}
</body>

</html>
