block variables
  - const item = site.pages.find((p) => p.page === page);
  - let title = item.title;
  - let header = item.header;
  - let icon = item.bi;

doctype html
html(lang="ru")
  head
    title Board • #{ title }
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon")
    link(rel="shortcut icon" href="/assets/images/favicon.svg" type="image/svg+xml")
    meta(property="og:image" content="/assets/images/ice.jpg")
    script(type="module" src="/src/scripts/main.ts")
  body(class="dark:scheme-dark scheme-light-dark")
    div(class="grid-rows-[2fr_8fr_2fr] mx-auto grid h-screen grid-cols-1 transition-opacity duration-500")
      block header
        include ../includes/header
      block main
        main
          p It is default content in main section.
      block footer
        include ../includes/footer
