/* common.css */

@layer base {
  :root {
    --font-family-sans: ps-Inter, sans-serif;
    --font-family-mono: ps-JetBrainsMono, monospace;
    --accent: 59 130 246; /* blue-500: */
    --dark: 24 24 27;      /* zink-900 */
  }
  *:focus-visible {
    @apply outline outline-2 outline-offset-2 outline-accent/50;
  }
  body {
    @apply min-w-[300px] dark:bg-dark dark:text-zinc-500;
    font-family: var(--font-family-sans);
  }
  code {
    @apply text-red-500 dark:text-red-400 text-opacity-90;
    font-family: var(--font-family-mono);
  }
  h1,
  h2 {
    @apply mb-4 font-semibold dark:text-white;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  a {
    @apply font-medium text-accent transition-all hover:text-accent/75;
  }
}
